.header {
background-color: grey;

}
.nav{
    background-color: grey;
}
.box{
    display = flex;
}
.box1,.box2,.box3{
    background-color: grey;
    padding:50px;
    margin:20px;

}

.footer{
    background-color: grey;
}

